@keyframes wordmark-module__3hxyDG__stroke-dashoffset-to-zero {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes wordmark-module__3hxyDG__fill-opacity-to-one {
    to {
        fill-opacity: 1
    }
}

@keyframes wordmark-module__3hxyDG__opacity-to-zero {
    to {
        opacity: 0
    }
}

.wordmark-module__3hxyDG__reveal {
    overflow: visible
}

@media (prefers-reduced-motion:no-preference) {
    .wordmark-module__3hxyDG__reveal g {
        --letter-index: calc(var(--index-start, 0) + var(--index))
    }
    .wordmark-module__3hxyDG__reveal g>:first-child {
        fill-opacity: 0;
        animation: wordmark-module__3hxyDG__fill-opacity-to-one .8s var(--ease-out) calc(.8s + var(--letter-index) * 60ms) forwards
    }
    .wordmark-module__3hxyDG__reveal g>:not(:first-child) {
        stroke: currentColor;
        stroke-width: calc(1 / var(--wordmark-scale, 1));
        stroke-dasharray: 1.01;
        stroke-dashoffset: 1.01px;
        animation: wordmark-module__3hxyDG__stroke-dashoffset-to-zero .8s var(--ease-in-out) calc(var(--letter-index) * 60ms) forwards, wordmark-module__3hxyDG__opacity-to-zero .8s var(--ease-out) calc(.8s + var(--letter-index) * 60ms) forwards
    }
}