.grid-module__wIX3zq__grid {
    --grid-line: color-mix(in srgb, var(--color-black) 10%, transparent);
    background-image: repeating-linear-gradient(to right, var(--grid-line) 0, var(--grid-line) var(--single-column-width), transparent var(--single-column-width), transparent calc(100% / var(--columns)));
    background-size: calc(100% + var(--gutter-inner)) 100%
}