.pong-ball.attract-in .reveal-fan {
    translate: 0
}

.pong-ball.attract-in .pong-play {
    opacity: 1
}

.pong-ball.attract-out .reveal-fan {
    translate: 102%
}

.pong-ball.attract-out .pong-play {
    opacity: 0;
    transition-delay: 0s
}