@font-face {
    font-family: CentraNo2;
    src: url(../media/400.p.17negyqiqjsa1.woff2?dpl=dpl_7nTjAhhVavNrifaCRWcMH2hjnTqU)format("woff2");
    font-display: swap;
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: CentraNo2;
    src: url(../media/500.p.0sfkb64wm-ws8.woff2?dpl=dpl_7nTjAhhVavNrifaCRWcMH2hjnTqU)format("woff2");
    font-display: swap;
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: CentraNo2;
    src: url(../media/700.p.2zot_-u5q74-2.woff2?dpl=dpl_7nTjAhhVavNrifaCRWcMH2hjnTqU)format("woff2");
    font-display: swap;
    font-weight: 700;
    font-style: normal
}

.centrano2_1bd4f6f-module__HatfPG__className {
    font-family: CentraNo2
}

@layer properties {
    @supports (((-webkit-hyphens: none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
        *, :before, :after {
            --tw-translate-x:0;
            --tw-translate-y: 0;
            --tw-translate-z: 0;
            --tw-rotate-x: initial;
            --tw-rotate-y: initial;
            --tw-rotate-z: initial;
            --tw-skew-x: initial;
            --tw-skew-y: initial;
            --tw-border-style: solid;
            --tw-leading: initial;
            --tw-font-weight: initial;
            --tw-tracking: initial;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-color: initial;
            --tw-shadow-alpha: 100%;
            --tw-inset-shadow: 0 0 #0000;
            --tw-inset-shadow-color: initial;
            --tw-inset-shadow-alpha: 100%;
            --tw-ring-color: initial;
            --tw-ring-shadow: 0 0 #0000;
            --tw-inset-ring-color: initial;
            --tw-inset-ring-shadow: 0 0 #0000;
            --tw-ring-inset: initial;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-outline-style: solid;
            --tw-blur: initial;
            --tw-brightness: initial;
            --tw-contrast: initial;
            --tw-grayscale: initial;
            --tw-hue-rotate: initial;
            --tw-invert: initial;
            --tw-opacity: initial;
            --tw-saturate: initial;
            --tw-sepia: initial;
            --tw-drop-shadow: initial;
            --tw-drop-shadow-color: initial;
            --tw-drop-shadow-alpha: 100%;
            --tw-drop-shadow-size: initial;
            --tw-backdrop-blur: initial;
            --tw-backdrop-brightness: initial;
            --tw-backdrop-contrast: initial;
            --tw-backdrop-grayscale: initial;
            --tw-backdrop-hue-rotate: initial;
            --tw-backdrop-invert: initial;
            --tw-backdrop-opacity: initial;
            --tw-backdrop-saturate: initial;
            --tw-backdrop-sepia: initial;
            --tw-duration: initial;
            --tw-ease: initial;
            --tw-content: ""
        }
        ::backdrop {
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-translate-z: 0;
            --tw-rotate-x: initial;
            --tw-rotate-y: initial;
            --tw-rotate-z: initial;
            --tw-skew-x: initial;
            --tw-skew-y: initial;
            --tw-border-style: solid;
            --tw-leading: initial;
            --tw-font-weight: initial;
            --tw-tracking: initial;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-color: initial;
            --tw-shadow-alpha: 100%;
            --tw-inset-shadow: 0 0 #0000;
            --tw-inset-shadow-color: initial;
            --tw-inset-shadow-alpha: 100%;
            --tw-ring-color: initial;
            --tw-ring-shadow: 0 0 #0000;
            --tw-inset-ring-color: initial;
            --tw-inset-ring-shadow: 0 0 #0000;
            --tw-ring-inset: initial;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-outline-style: solid;
            --tw-blur: initial;
            --tw-brightness: initial;
            --tw-contrast: initial;
            --tw-grayscale: initial;
            --tw-hue-rotate: initial;
            --tw-invert: initial;
            --tw-opacity: initial;
            --tw-saturate: initial;
            --tw-sepia: initial;
            --tw-drop-shadow: initial;
            --tw-drop-shadow-color: initial;
            --tw-drop-shadow-alpha: 100%;
            --tw-drop-shadow-size: initial;
            --tw-backdrop-blur: initial;
            --tw-backdrop-brightness: initial;
            --tw-backdrop-contrast: initial;
            --tw-backdrop-grayscale: initial;
            --tw-backdrop-hue-rotate: initial;
            --tw-backdrop-invert: initial;
            --tw-backdrop-opacity: initial;
            --tw-backdrop-saturate: initial;
            --tw-backdrop-sepia: initial;
            --tw-duration: initial;
            --tw-ease: initial;
            --tw-content: ""
        }
    }
}

@layer theme {
    :root,
    :host {
        --font-sans: var(--centra-no2), sans-serif;
        --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --color-black: #061a1e;
        --color-white: #fff;
        --spacing: .4rem;
        --font-weight-bold: 700;
        --ease-out: cubic-bezier(.14, 1, .34, 1);
        --ease-in-out: cubic-bezier(.645, .045, .355, 1);
        --blur-sm: 8px;
        --default-transition-duration: .15s;
        --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        --default-font-family: var(--font-sans);
        --default-mono-font-family: var(--font-mono);
        --color-grey-100: #dbd7ca;
        --color-grey-50: #e8e5e0;
        --color-grey-10: #f6f4f0;
        --color-accent-primary: #299093;
        --color-accent-secondary: #ffbd00;
        --color-accent-tertiary: #ef6156;
        --ease-linear: cubic-bezier(0, 0, 1, 1);
        --spacing-gutter-outer: var(--gutter-outer);
        --spacing-gutter-inner: var(--gutter-inner);
        --radius-small: 2.4rem;
        --radius-medium: 4rem;
        --radius-large: 7.2rem;
        --z-index-behind-content: -1;
        --z-index-above-content: 1;
        --z-index-header: 2;
        --z-index-dev-grid: 3;
        --z-index-draft-indicator: 4
    }
}

@layer base {
    *,
    :after,
    :before {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }
    ::backdrop {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }
    ::-webkit-file-upload-button {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }
    ::file-selector-button {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }
    html,
    :host {
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        line-height: 1.5;
        font-family: var(--default-font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
        font-feature-settings: var(--default-font-feature-settings, normal);
        font-variation-settings: var(--default-font-variation-settings, normal);
        -webkit-tap-highlight-color: transparent
    }
    hr {
        height: 0;
        color: inherit;
        border-top-width: 1px
    }
    abbr:where([title]) {
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit
    }
    a {
        color: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        text-decoration: inherit
    }
    b,
    strong {
        font-weight: bolder
    }
    code,
    kbd,
    samp,
    pre {
        font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
        font-feature-settings: var(--default-mono-font-feature-settings, normal);
        font-variation-settings: var(--default-mono-font-variation-settings, normal);
        font-size: 1em
    }
    small {
        font-size: 80%
    }
    sub,
    sup {
        vertical-align: baseline;
        font-size: 75%;
        line-height: 0;
        position: relative
    }
    sub {
        bottom: -.25em
    }
    sup {
        top: -.5em
    }
    table {
        text-indent: 0;
        border-color: inherit;
        border-collapse: collapse
    }
    :-moz-focusring:where(:not(iframe)) {
        outline: auto
    }
    progress {
        vertical-align: baseline
    }
    summary {
        display: list-item
    }
    ol,
    ul,
    menu {
        list-style: none
    }
    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
        vertical-align: middle;
        display: block
    }
    img,
    video {
        max-width: 100%;
        height: auto
    }
    button,
    input,
    select,
    optgroup,
    textarea {
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: #0000;
        border-radius: 0
    }
    ::-webkit-file-upload-button {
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: #0000;
        border-radius: 0
    }
    ::file-selector-button {
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: #0000;
        border-radius: 0
    }
    :where(select:-webkit-any([multiple], [size])) optgroup {
        font-weight: bolder
    }
    :where(select:is([multiple], [size])) optgroup {
        font-weight: bolder
    }
    :where(select:-webkit-any([multiple], [size])) optgroup option:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        padding-left: 20px
    }
    :where(select:is([multiple], [size])) optgroup option:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        padding-left: 20px
    }
    :where(select:-webkit-any([multiple], [size])) optgroup option:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        padding-right: 20px
    }
    :where(select:is([multiple], [size])) optgroup option:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        padding-right: 20px
    }
    :not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))::-webkit-file-upload-button {
        margin-right: 4px
    }
    :not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))::file-selector-button {
        margin-right: 4px
    }
    :-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))::-webkit-file-upload-button {
        margin-left: 4px
    }
    :is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi))::file-selector-button {
        margin-left: 4px
    }
    ::placeholder {
        opacity: 1
    }
    @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
        ::placeholder {
            color: currentColor
        }
        @supports (color:color-mix(in lab, red, red)) {
            ::placeholder {
                color: color-mix(in oklab, currentcolor 50%, transparent)
            }
        }
    }
    textarea {
        resize: vertical
    }
    ::-webkit-search-decoration {
        -webkit-appearance: none
    }
    ::-webkit-date-and-time-value {
        min-height: 1lh;
        text-align: inherit
    }
    ::-webkit-datetime-edit {
        display: inline-flex
    }
    ::-webkit-datetime-edit-fields-wrapper {
        padding: 0
    }
    ::-webkit-datetime-edit {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-datetime-edit-year-field {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-datetime-edit-month-field {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-datetime-edit-day-field {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-datetime-edit-hour-field {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-datetime-edit-minute-field {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-datetime-edit-second-field {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-datetime-edit-millisecond-field {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-datetime-edit-meridiem-field {
        padding-top: 0;
        padding-bottom: 0
    }
    ::-webkit-calendar-picker-indicator {
        line-height: 1
    }
    :-moz-ui-invalid {
        box-shadow: none
    }
    button {
        -webkit-appearance: button;
        appearance: button
    }
    input:where([type=button], [type=reset], [type=submit]) {
        -webkit-appearance: button;
        appearance: button
    }
    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        appearance: button
    }
    ::file-selector-button {
        -webkit-appearance: button;
        appearance: button
    }
    ::-webkit-inner-spin-button {
        height: auto
    }
    ::-webkit-outer-spin-button {
        height: auto
    }
    [hidden]:where(:not([hidden=until-found])) {
        display: none !important
    }
    html {
        font-synthesis: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 62.5%
    }
    body {
        overflow-x: clip
    }
    dialog {
        width: unset;
        max-width: unset;
        height: unset;
        max-height: unset;
        background: unset;
        color: unset;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0
    }
    dialog::backdrop {
        display: none
    }
    @media (prefers-reduced-motion:no-preference) {
        html {
            scroll-behavior: smooth
        }
    }
    *,
    :before,
    :after {
        min-width: 0
    }
    :focus-visible:focus {
        outline-offset: var(--outline-offset);
        outline: 1px dashed
    }
}

@layer components {
    .asset-container {
        width: 100%;
        display: grid
    }
    .asset-container[data-has-lazy-load-background=true] {
        background: var(--color-grey-100)
    }
    .asset-media {
        grid-area: 1/1;
        width: 100%;
        height: 100%
    }
    .asset-media+.asset-media {
        visibility: hidden
    }
    .asset-container[data-is-in-view=false] .asset-media {
        display: none
    }
    @media (prefers-reduced-motion:no-preference) {
        .asset-container[data-animate-on-load=true] .asset-media {
            opacity: 0;
            transition: opacity .1s linear
        }
        .asset-container[data-animate-on-load=true][data-has-loaded=true] .asset-media {
            opacity: 1
        }
    }
}

@layer utilities {
    .\@container {
        container-type: inline-size
    }
    .pointer-events-auto {
        pointer-events: auto
    }
    .pointer-events-none {
        pointer-events: none
    }
    .collapse {
        visibility: collapse
    }
    .invisible {
        visibility: hidden
    }
    .visible {
        visibility: visible
    }
    .sr-only {
        clip-path: inset(50%);
        white-space: nowrap;
        border-width: 0;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        overflow: hidden
    }
    .absolute {
        position: absolute
    }
    .fixed {
        position: fixed
    }
    .relative {
        position: relative
    }
    .static {
        position: static
    }
    .sticky {
        position: -webkit-sticky;
        position: sticky
    }
    .inset-0 {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0
    }
    .inset-x-0 {
        left: 0;
        right: 0
    }
    .inset-x-gutter-outer {
        inset-inline: var(--spacing-gutter-outer)
    }
    .inset-y-0 {
        top: 0;
        bottom: 0
    }
    .top-\(--header-padding-block\) {
        top: var(--header-padding-block)
    }
    .top-0 {
        top: 0
    }
    .right-0 {
        right: 0
    }
    .right-gutter-outer {
        right: var(--spacing-gutter-outer)
    }
    .-bottom-\(--spill\) {
        bottom: calc(var(--spill) * -1)
    }
    .bottom-\[-75svmin\] {
        bottom: -75svmin
    }
    .-left-\(--spill\) {
        left: calc(var(--spill) * -1)
    }
    .left-0 {
        left: 0
    }
    .left-\[70\%\] {
        left: 70%
    }
    .left-\[90\%\] {
        left: 90%
    }
    .isolate {
        isolation: isolate
    }
    .z-above-content {
        z-index: var(--z-index-above-content)
    }
    .z-behind-content {
        z-index: var(--z-index-behind-content)
    }
    .z-dev-grid {
        z-index: var(--z-index-dev-grid)
    }
    .z-draft-indicator {
        z-index: var(--z-index-draft-indicator)
    }
    .z-header {
        z-index: var(--z-index-header)
    }
    .col-span-5 {
        grid-column: span 5/span 5
    }
    .col-span-6 {
        grid-column: span 6/span 6
    }
    .col-span-full {
        grid-column: 1/-1
    }
    .col-start-1 {
        grid-column-start: 1
    }
    .col-start-2 {
        grid-column-start: 2
    }
    .\ !container {
        width: 100% !important
    }
    @media (min-width:768px) {
        .\ !container {
            max-width: 768px !important
        }
    }
    @media (min-width:1280px) {
        .\ !container {
            max-width: 1280px !important
        }
    }
    @media (min-width:1680px) {
        .\ !container {
            max-width: 1680px !important
        }
    }
    @media (min-width:40rem) {
        .\ !container {
            max-width: 40rem !important
        }
    }
    @media (min-width:48rem) {
        .\ !container {
            max-width: 48rem !important
        }
    }
    @media (min-width:64rem) {
        .\ !container {
            max-width: 64rem !important
        }
    }
    @media (min-width:80rem) {
        .\ !container {
            max-width: 80rem !important
        }
    }
    @media (min-width:96rem) {
        .\ !container {
            max-width: 96rem !important
        }
    }
    .container {
        width: 100%
    }
    @media (min-width:768px) {
        .container {
            max-width: 768px
        }
    }
    @media (min-width:1280px) {
        .container {
            max-width: 1280px
        }
    }
    @media (min-width:1680px) {
        .container {
            max-width: 1680px
        }
    }
    @media (min-width:40rem) {
        .container {
            max-width: 40rem
        }
    }
    @media (min-width:48rem) {
        .container {
            max-width: 48rem
        }
    }
    @media (min-width:64rem) {
        .container {
            max-width: 64rem
        }
    }
    @media (min-width:80rem) {
        .container {
            max-width: 80rem
        }
    }
    @media (min-width:96rem) {
        .container {
            max-width: 96rem
        }
    }
    .text-paragraph-medium {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.4
    }
    @media (min-width:768px) {
        .text-paragraph-medium {
            font-size: 1.6rem;
            line-height: 1.5
        }
    }
    .text-paragraph-medium>:where(p+p) {
        margin-top: 1em
    }
    .text-paragraph-large {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5
    }
    @media (min-width:1280px) {
        .text-paragraph-large {
            font-size: 2rem
        }
    }
    .text-paragraph-large>:where(p+p) {
        margin-top: 1em
    }
    .text-paragraph-small {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.4
    }
    .text-paragraph-small>:where(p+p) {
        margin-top: 1em
    }
    .mt-12 {
        margin-top: calc(var(--spacing) * 12)
    }
    .mt-20 {
        margin-top: calc(var(--spacing) * 20)
    }
    .mt-\[9\.6\%\] {
        margin-top: 9.6%
    }
    .mr-\(--tag-padding-inline\) {
        margin-right: var(--tag-padding-inline)
    }
    .mb-gutter-outer {
        margin-bottom: var(--spacing-gutter-outer)
    }
    .-ml-\(--tag-padding-inline\) {
        margin-left: calc(var(--tag-padding-inline) * -1)
    }
    .layout-grid {
        grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
        column-gap: var(--gutter-inner);
        padding-inline: var(--gutter-outer);
        display: grid
    }
    .grid-pile {
        display: grid
    }
    .grid-pile>* {
        grid-area: 1/1
    }
    .grid-pile-inline {
        display: inline-grid
    }
    .grid-pile-inline>* {
        grid-area: 1/1
    }
    .block {
        display: block
    }
    .flex {
        display: flex
    }
    .grid {
        display: grid
    }
    .hidden {
        display: none
    }
    .inline {
        display: inline
    }
    .table {
        display: table
    }
    .aspect-2\/1 {
        aspect-ratio: 2
    }
    .aspect-2\/5 {
        aspect-ratio: 2/5
    }
    .aspect-5\/4 {
        aspect-ratio: 5/4
    }
    .aspect-19\/20 {
        aspect-ratio: 19/20
    }
    .aspect-square {
        aspect-ratio: 1
    }
    .size-5 {
        width: calc(var(--spacing) * 5);
        height: calc(var(--spacing) * 5)
    }
    .size-6 {
        width: calc(var(--spacing) * 6);
        height: calc(var(--spacing) * 6)
    }
    .size-11 {
        width: calc(var(--spacing) * 11);
        height: calc(var(--spacing) * 11)
    }
    .size-12 {
        width: calc(var(--spacing) * 12);
        height: calc(var(--spacing) * 12)
    }
    .size-full {
        width: 100%;
        height: 100%
    }
    .h-\(--tag-height\) {
        height: var(--tag-height)
    }
    .h-3 {
        height: calc(var(--spacing) * 3)
    }
    .h-7 {
        height: calc(var(--spacing) * 7)
    }
    .h-8 {
        height: calc(var(--spacing) * 8)
    }
    .h-10 {
        height: calc(var(--spacing) * 10)
    }
    .h-16 {
        height: calc(var(--spacing) * 16)
    }
    .h-\[400lvh\] {
        height: 400lvh
    }
    .h-full {
        height: 100%
    }
    .h-lvh {
        height: 100lvh
    }
    .h-svh {
        height: 100svh
    }
    .min-h-11 {
        min-height: calc(var(--spacing) * 11)
    }
    .min-h-svh {
        min-height: 100svh
    }
    .w-3 {
        width: calc(var(--spacing) * 3)
    }
    .w-\[20\%\] {
        width: 20%
    }
    .w-\[32\%\] {
        width: 32%
    }
    .w-\[49\%\] {
        width: 49%
    }
    .w-auto {
        width: auto
    }
    .w-columns-5\/4 {
        width: calc(var(--single-column-width) * 5 + var(--gutter-inner) * 4)
    }
    .w-fit {
        width: -webkit-fit-content;
        width: fit-content
    }
    .w-full {
        width: 100%
    }
    .max-w-100 {
        max-width: calc(var(--spacing) * 100)
    }
    .max-w-122 {
        max-width: calc(var(--spacing) * 122)
    }
    .max-w-175 {
        max-width: calc(var(--spacing) * 175)
    }
    .shrink-0 {
        flex-shrink: 0
    }
    .grow {
        flex-grow: 1
    }
    .-translate-x-\[102\%\] {
        --tw-translate-x: calc(102% * -1);
        translate: var(--tw-translate-x) var(--tw-translate-y)
    }
    .-translate-x-full {
        --tw-translate-x: -100%;
        translate: var(--tw-translate-x) var(--tw-translate-y)
    }
    .translate-x-1\/2 {
        --tw-translate-x: calc(1 / 2 * 100%);
        translate: var(--tw-translate-x) var(--tw-translate-y)
    }
    .-translate-y-1\/2 {
        --tw-translate-y: calc(calc(1 / 2 * 100%) * -1);
        translate: var(--tw-translate-x) var(--tw-translate-y)
    }
    .rotate-45 {
        rotate: 45deg
    }
    .transform {
        transform: var(--tw-rotate-x, ) var(--tw-rotate-y, ) var(--tw-rotate-z, ) var(--tw-skew-x, ) var(--tw-skew-y, )
    }
    .cursor-pointer {
        cursor: pointer
    }
    .touch-none {
        touch-action: none
    }
    .resize {
        resize: both
    }
    .list-decimal {
        list-style-type: decimal
    }
    .list-disc {
        list-style-type: disc
    }
    .grid-rows-\[minmax\(0\, 1fr\)\] {
        grid-template-rows: minmax(0, 1fr)
    }
    .flex-col {
        flex-direction: column
    }
    .flex-wrap {
        flex-wrap: wrap
    }
    .place-items-center {
        place-items: center
    }
    .place-items-center-safe {
        place-items: safe center
    }
    .content-between {
        align-content: space-between
    }
    .content-center {
        align-content: center
    }
    .items-center {
        align-items: center
    }
    .items-end {
        align-items: flex-end
    }
    .items-start {
        align-items: flex-start
    }
    .justify-between {
        justify-content: space-between
    }
    .justify-center {
        justify-content: center
    }
    .justify-end {
        justify-content: flex-end
    }
    .gap-0\.5 {
        gap: calc(var(--spacing) * .5)
    }
    .gap-0\.75 {
        gap: calc(var(--spacing) * .75)
    }
    .gap-1 {
        gap: var(--spacing)
    }
    .gap-2 {
        gap: calc(var(--spacing) * 2)
    }
    .gap-3 {
        gap: calc(var(--spacing) * 3)
    }
    .gap-4 {
        gap: calc(var(--spacing) * 4)
    }
    .gap-6 {
        gap: calc(var(--spacing) * 6)
    }
    .gap-8 {
        gap: calc(var(--spacing) * 8)
    }
    .gap-10 {
        gap: calc(var(--spacing) * 10)
    }
    .gap-12 {
        gap: calc(var(--spacing) * 12)
    }
    .gap-\[0\.15em\] {
        gap: .15em
    }
    .gap-\[9\.2vw\] {
        gap: 9.2vw
    }
    .gap-\[inherit\] {
        gap: inherit
    }
    .gap-x-gutter-inner {
        column-gap: var(--spacing-gutter-inner)
    }
    .gap-y-8 {
        row-gap: calc(var(--spacing) * 8)
    }
    .gap-y-12 {
        row-gap: calc(var(--spacing) * 12)
    }
    .gap-y-56 {
        row-gap: calc(var(--spacing) * 56)
    }
    .place-self-center {
        place-self: center
    }
    .self-baseline {
        align-self: baseline
    }
    .self-center {
        align-self: center
    }
    .self-end {
        align-self: flex-end
    }
    .self-start {
        align-self: flex-start
    }
    .self-stretch {
        align-self: stretch
    }
    .justify-self-center {
        justify-self: center
    }
    .justify-self-end {
        justify-self: flex-end
    }
    .overflow-clip {
        overflow: clip
    }
    .overflow-x-hidden {
        overflow-x: hidden
    }
    .overflow-y-auto {
        overflow-y: auto
    }
    .rounded {
        border-radius: .25rem
    }
    .rounded-\[calc\(var\(--tag-height\)\/2\)\] {
        border-radius: calc(var(--tag-height) / 2)
    }
    .rounded-\[inherit\] {
        border-radius: inherit
    }
    .rounded-full {
        border-radius: 3.40282e38px
    }
    .rounded-large {
        border-radius: var(--radius-large)
    }
    .rounded-medium {
        border-radius: var(--radius-medium)
    }
    .rounded-small {
        border-radius: var(--radius-small)
    }
    .border {
        border-style: var(--tw-border-style);
        border-width: 1px
    }
    .border-t {
        border-top-style: var(--tw-border-style);
        border-top-width: 1px
    }
    .border-black {
        border-color: var(--color-black)
    }
    .bg-accent-primary {
        background-color: var(--color-accent-primary)
    }
    .bg-accent-secondary {
        background-color: var(--color-accent-secondary)
    }
    .bg-accent-tertiary {
        background-color: var(--color-accent-tertiary)
    }
    .bg-black {
        background-color: var(--color-black)
    }
    .bg-black\/50 {
        background-color: #061a1e80
    }
    @supports (color:color-mix(in lab, red, red)) {
        .bg-black\/50 {
            background-color: color-mix(in oklab, var(--color-black) 50%, transparent)
        }
    }
    .bg-grey-10 {
        background-color: var(--color-grey-10)
    }
    .bg-grey-50 {
        background-color: var(--color-grey-50)
    }
    .bg-grey-100 {
        background-color: var(--color-grey-100)
    }
    .bg-white {
        background-color: var(--color-white)
    }
    .p-6 {
        padding: calc(var(--spacing) * 6)
    }
    .p-8 {
        padding: calc(var(--spacing) * 8)
    }
    .p-14 {
        padding: calc(var(--spacing) * 14)
    }
    .px-\(--tag-padding-inline\) {
        padding-inline: var(--tag-padding-inline)
    }
    .px-2 {
        padding-inline: calc(var(--spacing) * 2)
    }
    .px-2\.5 {
        padding-inline: calc(var(--spacing) * 2.5)
    }
    .px-4 {
        padding-inline: calc(var(--spacing) * 4)
    }
    .px-8 {
        padding-inline: calc(var(--spacing) * 8)
    }
    .px-gutter-outer {
        padding-inline: var(--spacing-gutter-outer)
    }
    .py-\(--footer-padding-block\) {
        padding-block: var(--footer-padding-block)
    }
    .py-\(--header-padding-block\) {
        padding-block: var(--header-padding-block)
    }
    .py-\(--spacer-medium\) {
        padding-block: var(--spacer-medium)
    }
    .py-10 {
        padding-block: calc(var(--spacing) * 10)
    }
    .py-12 {
        padding-block: calc(var(--spacing) * 12)
    }
    .py-gutter-outer {
        padding-block: var(--spacing-gutter-outer)
    }
    .ps-6:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        padding-left: calc(var(--spacing) * 6)
    }
    .ps-6:-webkit-any(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        padding-right: calc(var(--spacing) * 6)
    }
    .ps-6:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        padding-right: calc(var(--spacing) * 6)
    }
    .pt-\(--header-height\) {
        padding-top: var(--header-height)
    }
    .pt-\(--spacer-extra-large\) {
        padding-top: var(--spacer-extra-large)
    }
    .pt-\(--spacer-small\) {
        padding-top: var(--spacer-small)
    }
    .pt-\(--spacer-tiny\) {
        padding-top: var(--spacer-tiny)
    }
    .pb-\(--spacer-small\) {
        padding-bottom: var(--spacer-small)
    }
    .pb-gutter-outer {
        padding-bottom: var(--spacing-gutter-outer)
    }
    .text-center {
        text-align: center
    }
    .text-left {
        text-align: left
    }
    .align-sub {
        vertical-align: sub
    }
    .text-heading-2 {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        letter-spacing: -.03em;
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.2
    }
    @media (min-width:768px) {
        .text-heading-2 {
            font-size: 4rem;
            line-height: 1.3
        }
    }
    @media (min-width:1280px) {
        .text-heading-2 {
            letter-spacing: -.04em;
            font-size: 5.6rem
        }
    }
    .text-heading-1 {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        letter-spacing: -.04em;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.3
    }
    @media (min-width:768px) {
        .text-heading-1 {
            font-size: 4.8rem
        }
    }
    @media (min-width:1280px) {
        .text-heading-1 {
            font-size: 8rem;
            line-height: 1.4
        }
    }
    .text-heading-3 {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        font-size: 2.8rem;
        font-weight: 500;
        line-height: 1.2
    }
    @media (min-width:768px) {
        .text-heading-3 {
            letter-spacing: -.03em;
            font-size: 4rem;
            line-height: 1.3
        }
    }
    @media (min-width:1280px) {
        .text-heading-3 {
            font-size: 4.4rem
        }
    }
    .text-heading-4 {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4
    }
    @media (min-width:768px) {
        .text-heading-4 {
            letter-spacing: -.02em;
            font-size: 2.8rem
        }
    }
    @media (min-width:1280px) {
        .text-heading-4 {
            font-size: 3.2rem
        }
    }
    .text-poster {
        font-size: calc(100vw * (80 / var(--target-window-width)));
        font-family: var(--font-sans);
        letter-spacing: -.04em;
        font-weight: 700;
        line-height: .8
    }
    @media (min-width:768px) {
        .text-poster {
            font-size: calc(100vw * (180 / var(--target-window-width)))
        }
    }
    @media (min-width:1280px) {
        .text-poster {
            font-size: calc(100vw * (300 / var(--target-window-width)))
        }
    }
    @media (min-width:1680px) {
        .text-poster {
            font-size: calc(100vw * (360 / var(--target-window-width)))
        }
    }
    .text-chip {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        letter-spacing: -.02em;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.2
    }
    @media (min-width:768px) {
        .text-chip {
            font-size: 1.6rem
        }
    }
    .text-button {
        font-family: var(--font-sans);
        text-box: trim-both cap alphabetic;
        letter-spacing: -.04em;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2
    }
    .text-\[25cqw\] {
        font-size: 25cqw
    }
    .leading-\(--tag-height\) {
        --tw-leading: var(--tag-height);
        line-height: var(--tag-height)
    }
    .leading-none {
        --tw-leading: 1;
        line-height: 1
    }
    .font-bold {
        --tw-font-weight: var(--font-weight-bold);
        font-weight: var(--font-weight-bold)
    }
    .tracking-\[-0\.02em\] {
        --tw-tracking: -.02em;
        letter-spacing: -.02em
    }
    .text-balance {
        text-wrap: balance
    }
    .whitespace-nowrap {
        white-space: nowrap
    }
    .text-accent-primary {
        color: var(--color-accent-primary)
    }
    .text-accent-tertiary {
        color: var(--color-accent-tertiary)
    }
    .text-black {
        color: var(--color-black)
    }
    .text-white {
        color: var(--color-white)
    }
    .underline {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline
    }
    .underline-offset-4 {
        text-underline-offset: 4px
    }
    .opacity-0 {
        opacity: 0
    }
    .opacity-50 {
        opacity: .5
    }
    .opacity-100 {
        opacity: 1
    }
    .shadow {
        --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
    }
    .ring {
        --tw-ring-shadow: var(--tw-ring-inset, ) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
        box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
    }
    .outline {
        outline-style: var(--tw-outline-style);
        outline-width: 1px
    }
    .blur {
        --tw-blur: blur(8px);
        filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, )
    }
    .filter {
        filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, )
    }
    .backdrop-blur-sm {
        --tw-backdrop-blur: blur(var(--blur-sm));
        -webkit-backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, );
        backdrop-filter: var(--tw-backdrop-blur, ) var(--tw-backdrop-brightness, ) var(--tw-backdrop-contrast, ) var(--tw-backdrop-grayscale, ) var(--tw-backdrop-hue-rotate, ) var(--tw-backdrop-invert, ) var(--tw-backdrop-opacity, ) var(--tw-backdrop-saturate, ) var(--tw-backdrop-sepia, )
    }
    .transition {
        transition-property: color, background-color, border-color, outline-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration))
    }
    .transition-\[clip-path\] {
        transition-property: clip-path;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration))
    }
    .transition-\[opacity\,
    visibility\] {
        transition-property: opacity, visibility;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration))
    }
    .transition-\[width\,
    opacity\,
    background-color\] {
        transition-property: width, opacity, background-color;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration))
    }
    .transition-colors {
        transition-property: color, background-color, border-color, outline-color, -webkit-text-decoration-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration))
    }
    .transition-opacity {
        transition-property: opacity;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration))
    }
    .transition-transform {
        transition-property: transform, translate, scale, rotate;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration))
    }
    .delay-0 {
        transition-delay: 0s
    }
    .delay-50 {
        transition-delay: 50ms
    }
    .delay-100 {
        transition-delay: .1s
    }
    .delay-120 {
        transition-delay: .12s
    }
    .delay-180 {
        transition-delay: .18s
    }
    .delay-300 {
        transition-delay: .3s
    }
    .delay-350 {
        transition-delay: .35s
    }
    .duration-\(--wipe-duration\) {
        --tw-duration: var(--wipe-duration);
        transition-duration: var(--wipe-duration)
    }
    .duration-200 {
        --tw-duration: .2s;
        transition-duration: .2s
    }
    .duration-350 {
        --tw-duration: .35s;
        transition-duration: .35s
    }
    .duration-600 {
        --tw-duration: .6s;
        transition-duration: .6s
    }
    .duration-700 {
        --tw-duration: .7s;
        transition-duration: .7s
    }
    .ease-\(--ease-in-out\),
    .ease-in-out {
        --tw-ease: var(--ease-in-out);
        transition-timing-function: var(--ease-in-out)
    }
    .ease-linear {
        --tw-ease: var(--ease-linear);
        transition-timing-function: var(--ease-linear)
    }
    .ease-out {
        --tw-ease: var(--ease-out);
        transition-timing-function: var(--ease-out)
    }
    .outline-none {
        --tw-outline-style: none;
        outline-style: none
    }
    .select-none {
        -webkit-user-select: none;
        user-select: none
    }
    .\[--outline-offset\:var\(--outline-offset-inset\)\] {
        --outline-offset: var(--outline-offset-inset)
    }
    .\[--spill\:var\(--single-column-width-with-gutter-inner\)\] {
        --spill: var(--single-column-width-with-gutter-inner)
    }
    .\[--tag-height\:1\.25em\] {
        --tag-height: 1.25em
    }
    .\[--tag-height\:4\.6rem\] {
        --tag-height: 4.6rem
    }
    .\[--tag-height\:4rem\] {
        --tag-height: 4rem
    }
    .\[clip-path\:inset\(0\)\] {
        clip-path: inset(0)
    }
    .\[clip-path\:inset\(0_round_0_var\(--radius-medium\)_0_0\)\] {
        clip-path: inset(0 round 0 var(--radius-medium) 0 0)
    }
    :is(.\*\:rounded-\[inherit\]>*) {
        border-radius: inherit
    }
    .not-first\:mt-\(--spacer-extra-small\):not(:first-child) {
        margin-top: var(--spacer-extra-small)
    }
    .not-first\:mt-\(--spacer-tiny\):not(:first-child) {
        margin-top: var(--spacer-tiny)
    }
    .not-has-\[\+\[data-block\=structured-text\]\]\:pb-\(--spacer-small\):not(:has(+[data-block=structured-text])) {
        padding-bottom: var(--spacer-small)
    }
    @media (hover:hover) {
        .group-hover\:translate-x-0:is(:where(.group): hover *) {
            --tw-translate-x:0px;
            translate: var(--tw-translate-x) var(--tw-translate-y)
        }
        .group-hover\:opacity-100:is(:where(.group):hover *) {
            opacity: 1
        }
    }
    .after\:absolute:after {
        content: var(--tw-content);
        position: absolute
    }
    .after\:-inset-x-0\.25:after {
        content: var(--tw-content);
        inset-inline: calc(var(--spacing) * -.25)
    }
    .after\:-inset-y-3\.5:after {
        content: var(--tw-content);
        inset-block: calc(var(--spacing) * -3.5)
    }
    .after\:content-\[\'\'\]:after{--tw-content:"";content:var(--tw-content)}.first\:pt-\(--spacer-large\):first-child{padding-top:var(--spacer-large)}.even\:text-right:nth-child(2n){text-align:right}@media (hover:hover){.hover\:text-accent-primary:hover{color:var(--color-accent-primary)}.hover\:text-accent-secondary:hover{color:var(--color-accent-secondary)}}.aria-disabled\:cursor-default[aria-disabled=true]{cursor:default}.data-\[is-active\=false\]\:\[clip-path\:inset\(0_0_100\%_0\)\][data-is-active=false]{clip-path:inset(0 0 100%)}@media (hover:hover){.group-hover\:data-\[is-active\=false\]\:opacity-50:is(:where(.group):hover *)[data-is-active=false]{opacity:.5}}.data-\[is-active\=true\]\:visible[data-is-active=true]{visibility:visible}.data-\[is-active\=true\]\:w-15[data-is-active=true]{width:calc(var(--spacing) * 15)}.data-\[is-active\=true\]\:opacity-100[data-is-active=true]{opacity:1}.data-\[is-active\=true\]\:transition-none[data-is-active=true]{transition-property:none}.data-\[is-active\=true\]\:duration-0[data-is-active=true]{--tw-duration:0s;transition-duration:0s}.data-\[is-before-active\=true\]\:bg-accent-primary[data-is-before-active=true]{background-color:var(--color-accent-primary)}.data-\[is-before-active\=true\]\:delay-200[data-is-before-active=true]{transition-delay:.2s}.data-\[is-before-active\=true\]\:duration-0[data-is-before-active=true]{--tw-duration:0s;transition-duration:0s}@media (prefers-reduced-motion:reduce){.motion-reduce\:transition-none{transition-property:none}}@media (min-width:768px){.tablet\:sticky{position:-webkit-sticky;position:sticky}.tablet\:top-0{top:0}.tablet\:col-span-7{grid-column:span 7/span 7}.tablet\:col-span-8{grid-column:span 8/span 8}.tablet\:col-span-9{grid-column:span 9/span 9}.tablet\:col-span-10{grid-column:span 10/span 10}.tablet\:col-span-12{grid-column:span 12/span 12}.tablet\:col-start-2{grid-column-start:2}.tablet\:col-start-3{grid-column-start:3}.tablet\:mt-16{margin-top:calc(var(--spacing) * 16)}.tablet\:mt-30{margin-top:calc(var(--spacing) * 30)}.tablet\:flex{display:flex}.tablet\:h-4{height:calc(var(--spacing) * 4)}.tablet\:h-8{height:calc(var(--spacing) * 8)}.tablet\:h-\[12vw\]{height:12vw}.tablet\:h-\[200svh\]{height:200svh}.tablet\:h-svh{height:100svh}.tablet\:w-4{width:calc(var(--spacing) * 4)}.tablet\:w-auto{width:auto}.tablet\:w-columns-10\/9{width:calc(var(--single-column-width) * 10 + var(--gutter-inner) * 9)}.tablet\:max-w-100{max-width:calc(var(--spacing) * 100)}.tablet\:max-w-130{max-width:calc(var(--spacing) * 130)}.tablet\:max-w-\[calc\(\(100svh-4\.8rem\)\*5\/4\)\]{max-width:calc(125svh - 6rem)}.tablet\:grid-rows-\[minmax\(0\,1fr\)\]{grid-template-rows:minmax(0,1fr)}.tablet\:flex-row{flex-direction:row}.tablet\:items-center{align-items:center}.tablet\:items-start{align-items:flex-start}.tablet\:gap-0\.75{gap:calc(var(--spacing) * .75)}.tablet\:gap-2{gap:calc(var(--spacing) * 2)}.tablet\:gap-6{gap:calc(var(--spacing) * 6)}.tablet\:gap-8{gap:calc(var(--spacing) * 8)}.tablet\:gap-10{gap:calc(var(--spacing) * 10)}.tablet\:gap-12{gap:calc(var(--spacing) * 12)}.tablet\:gap-\[4\.5vw\]{gap:4.5vw}.tablet\:gap-y-20{row-gap:calc(var(--spacing) * 20)}.tablet\:gap-y-48{row-gap:calc(var(--spacing) * 48)}.tablet\:p-19{padding:calc(var(--spacing) * 19)}.tablet\:p-columns-1\/1{padding:calc(var(--single-column-width) * 1 + var(--gutter-inner) * 1)}.tablet\:px-3{padding-inline:calc(var(--spacing) * 3)}.tablet\:px-7{padding-inline:calc(var(--spacing) * 7)}.tablet\:py-3{padding-block:calc(var(--spacing) * 3)}.tablet\:py-6{padding-block:calc(var(--spacing) * 6)}.tablet\:pb-\(--footer-padding-block\){padding-bottom:var(--footer-padding-block)}.tablet\:\[--spill\:calc\(var\(--single-column-width-with-gutter-inner\)\*2\)\]{--spill:calc(var(--single-column-width-with-gutter-inner) * 2)}.tablet\:\[--tag-height\:6rem\]{--tag-height:6rem}.data-\[is-active\=true\]\:tablet\:w-20[data-is-active=true]{width:calc(var(--spacing) * 20)}}@media (min-width:1280px){.laptop\:col-span-5{grid-column:span 5/span 5}.laptop\:col-span-6{grid-column:span 6/span 6}.laptop\:col-span-8{grid-column:span 8/span 8}.laptop\:col-span-9{grid-column:span 9/span 9}.laptop\:col-start-3{grid-column-start:3}.laptop\:col-start-4{grid-column-start:4}.laptop\:col-start-7{grid-column-start:7}.laptop\:row-span-full{grid-row:1/-1}.laptop\:row-start-1{grid-row-start:1}.laptop\:row-start-2{grid-row-start:2}.laptop\:mt-0{margin-top:0}.laptop\:max-w-150{max-width:calc(var(--spacing) * 150)}.laptop\:max-w-210{max-width:calc(var(--spacing) * 210)}.laptop\:max-w-250{max-width:calc(var(--spacing) * 250)}.laptop\:flex-1{flex:1}.laptop\:grid-rows-\[auto_1fr\]{grid-template-rows:auto 1fr}.laptop\:flex-row{flex-direction:row}.laptop\:items-center{align-items:center}.laptop\:justify-between{justify-content:space-between}.laptop\:gap-1\.25{gap:calc(var(--spacing) * 1.25)}.laptop\:gap-4{gap:calc(var(--spacing) * 4)}.laptop\:gap-8{gap:calc(var(--spacing) * 8)}.laptop\:gap-10{gap:calc(var(--spacing) * 10)}.laptop\:gap-12{gap:calc(var(--spacing) * 12)}.laptop\:gap-16{gap:calc(var(--spacing) * 16)}.laptop\:gap-32{gap:calc(var(--spacing) * 32)}.laptop\:gap-y-14{row-gap:calc(var(--spacing) * 14)}.laptop\:gap-y-28{row-gap:calc(var(--spacing) * 28)}.laptop\:self-start{align-self:flex-start}.laptop\:rounded-full{border-radius:3.40282e38px}.laptop\:px-8{padding-inline:calc(var(--spacing) * 8)}.laptop\:px-\[inherit\]{padding-inline:inherit}.laptop\:py-4{padding-block:calc(var(--spacing) * 4)}.laptop\:\[--spill\:calc\(var\(--single-column-width-with-gutter-inner\)\*3\)\]{--spill:calc(var(--single-column-width-with-gutter-inner) * 3)}.laptop\:\[--tag-height\:1\.3em\]{--tag-height:1.3em}.laptop\:\[--tag-height\:8rem\]{--tag-height:8rem}.laptop\:\[--tag-height\:10\.4rem\]{--tag-height:10.4rem}.data-\[is-active\=true\]\:laptop\:w-31[data-is-active=true]{width:calc(var(--spacing) * 31)}}@media (min-width:1680px){.desktop\:col-span-10{grid-column:span 10/span 10}.desktop\:col-start-2{grid-column-start:2}.desktop\:w-columns-9\/8{width:calc(var(--single-column-width) * 9 + var(--gutter-inner) * 8)}.desktop\:max-w-\[calc\(\(100svh-11\.2rem\)\*5\/4\)\]{max-width:calc(125svh - 14rem)}.desktop\:rounded-large{border-radius:var(--radius-large)}.desktop\:px-8{padding-inline:calc(var(--spacing) * 8)}.desktop\:py-14{padding-block:calc(var(--spacing) * 14)}}@media not all and (min-width:768px){@media (pointer:coarse){.max-tablet\:pointer-coarse\:hidden{display:none}.max-tablet\:pointer-coarse\:bg-black{background-color:var(--color-black)}.max-tablet\:pointer-coarse\:opacity-100{opacity:1}}}.\[\&\>li\+li\]\:mt-\(--spacer-extra-small\)>li+li{margin-top:var(--spacer-extra-small)}[data-game=playing] .\[\[data-game\=playing\]_\&\]\:opacity-0{opacity:0}[data-game=playing] .\[\[data-game\=playing\]_\&\]\:delay-0{transition-delay:0s}}:root{--target-window-width-mobile:402;--target-window-width-tablet:834;--target-window-width-laptop:1600;--target-window-width-desktop:1920;--columns-mobile:6;--columns-tablet:12;--gutter-outer-mobile:24px;--gutter-outer-tablet:32px;--gutter-inner-mobile:16px;--gutter-inner-tablet:24px;--outline-offset-default:2px;--outline-offset-inset:-3px;--outline-offset:var(--outline-offset-default);--header-padding-block:2.4rem;--header-height:calc(6.4rem + var(--header-padding-block) * 2);--footer-padding-block:2.4rem;--tag-padding-inline:1.2rem;--spacer-extra-small:2rem;--spacer-tiny:4rem;--spacer-small:6.4rem;--spacer-medium:9.6rem;--spacer-large:16.8rem;--spacer-extra-large:24rem;--columns:var(--columns-mobile);--target-window-width:var(--target-window-width-mobile);--gutter-outer:var(--gutter-outer-mobile);--gutter-inner:var(--gutter-inner-mobile);--single-column-width:calc(( 100vw - var(--gutter-outer) * 2 - var(--gutter-inner) * (var(--columns) - 1) ) / var(--columns));--single-column-width-with-gutter-inner:calc(var(--single-column-width) + var(--gutter-inner))}@media (min-width:768px){:root{--header-padding-block:3.2rem;--footer-padding-block:2rem;--tag-padding-inline:1.6rem;--columns:var(--columns-tablet);--target-window-width:var(--target-window-width-tablet);--gutter-outer:var(--gutter-outer-tablet);--gutter-inner:var(--gutter-inner-tablet);--spacer-medium:11.2rem;--spacer-extra-large:19.2rem}}@media (min-width:1280px){:root{--footer-padding-block:3.2rem;--tag-padding-inline:2rem;--spacer-small:11.2rem;--spacer-medium:20rem;--spacer-large:25.6rem;--spacer-extra-large:25.6rem;--target-window-width:var(--target-window-width-laptop)}}@media (min-width:1680px){:root{--spacer-extra-large:32rem;--target-window-width:var(--target-window-width-desktop)}}@media not all and (min-width:1280px){#CybotCookiebotDialog{width:calc(90% - 16px)!important;max-height:calc(80% - 16px)!important}}@property --tw-translate-x{syntax:"*";inherits:false;initial-value:0}@property --tw-translate-y{syntax:"*";inherits:false;initial-value:0}@property --tw-translate-z{syntax:"*";inherits:false;initial-value:0}@property --tw-rotate-x{syntax:"*";inherits:false}@property --tw-rotate-y{syntax:"*";inherits:false}@property --tw-rotate-z{syntax:"*";inherits:false}@property --tw-skew-x{syntax:"*";inherits:false}@property --tw-skew-y{syntax:"*";inherits:false}@property --tw-border-style{syntax:"*";inherits:false;initial-value:solid}@property --tw-leading{syntax:"*";inherits:false}@property --tw-font-weight{syntax:"*";inherits:false}@property --tw-tracking{syntax:"*";inherits:false}@property --tw-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000}@property --tw-shadow-color{syntax:"*";inherits:false}@property --tw-shadow-alpha{syntax:"<percentage>";inherits:false;initial-value:100%}@property --tw-inset-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000}@property --tw-inset-shadow-color{syntax:"*";inherits:false}@property --tw-inset-shadow-alpha{syntax:"<percentage>";inherits:false;initial-value:100%}@property --tw-ring-color{syntax:"*";inherits:false}@property --tw-ring-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000}@property --tw-inset-ring-color{syntax:"*";inherits:false}@property --tw-inset-ring-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000}@property --tw-ring-inset{syntax:"*";inherits:false}@property --tw-ring-offset-width{syntax:"<length>";inherits:false;initial-value:0}@property --tw-ring-offset-color{syntax:"*";inherits:false;initial-value:#fff}@property --tw-ring-offset-shadow{syntax:"*";inherits:false;initial-value:0 0 #0000}@property --tw-outline-style{syntax:"*";inherits:false;initial-value:solid}@property --tw-blur{syntax:"*";inherits:false}@property --tw-brightness{syntax:"*";inherits:false}@property --tw-contrast{syntax:"*";inherits:false}@property --tw-grayscale{syntax:"*";inherits:false}@property --tw-hue-rotate{syntax:"*";inherits:false}@property --tw-invert{syntax:"*";inherits:false}@property --tw-opacity{syntax:"*";inherits:false}@property --tw-saturate{syntax:"*";inherits:false}@property --tw-sepia{syntax:"*";inherits:false}@property --tw-drop-shadow{syntax:"*";inherits:false}@property --tw-drop-shadow-color{syntax:"*";inherits:false}@property --tw-drop-shadow-alpha{syntax:"<percentage>";inherits:false;initial-value:100%}@property --tw-drop-shadow-size{syntax:"*";inherits:false}@property --tw-backdrop-blur{syntax:"*";inherits:false}@property --tw-backdrop-brightness{syntax:"*";inherits:false}@property --tw-backdrop-contrast{syntax:"*";inherits:false}@property --tw-backdrop-grayscale{syntax:"*";inherits:false}@property --tw-backdrop-hue-rotate{syntax:"*";inherits:false}@property --tw-backdrop-invert{syntax:"*";inherits:false}@property --tw-backdrop-opacity{syntax:"*";inherits:false}@property --tw-backdrop-saturate{syntax:"*";inherits:false}@property --tw-backdrop-sepia{syntax:"*";inherits:false}@property --tw-duration{syntax:"*";inherits:false}@property --tw-ease{syntax:"*";inherits:false}@property --tw-content{syntax:"*";inherits:false;initial-value:""}